services:
  # --- Service Discovery ---
  eureka:
    build: ./spring-eureka-server
    container_name: eureka-server
    mem_limit: 512m
    ports:
      - "8761:8761"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - microservices-network

  # --- Message Broker Stack ---
  zookeeper:
    image: confluentinc/cp-zookeeper:7.9.0
    container_name: zookeeper
    mem_limit: 512m
    ports:
      - "2181:2181" # Now exposed to host
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - microservices-network

  kafka:
    image: confluentinc/cp-kafka:7.9.0
    container_name: kafka
    mem_limit: 1024m
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092 # Changed to localhost for external access
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    depends_on:
      - zookeeper
    healthcheck:
      test: [ "CMD", "kafka-topics", "--bootstrap-server", "localhost:9092", "--list" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - microservices-network

  # --- Stream Producer ---
  stream-producer:
    build: ./stream-producer
    container_name: stream-producer
    mem_limit: 512m
    ports:
      - "8081:8081"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      kafka:
        condition: service_healthy
      eureka:
        condition: service_started
    restart: on-failure
    networks:
      - microservices-network

  # --- Stream Consumer ---
  stream-consumer:
    build: ./stream-consumer
    container_name: stream-consumer
    mem_limit: 512m
    ports:
      - "8082:8082"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      kafka:
        condition: service_healthy
      eureka:
        condition: service_started

    restart: on-failure
    networks:
      - microservices-network

networks:
  microservices-network:
    driver: bridge