server.port: 7002
server.error.include-message: always

spring.application.name: stream-consumer

# --- Infrastructure Hosts (Localhost Defaults) ---
app.eureka-server: localhost

# --- Eureka Client Settings ---
eureka:
  client:
    serviceUrl:
      defaultZone: http://${app.eureka-server}:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

# --- Spring Cloud Stream & Kafka ---
spring.cloud.function.definition: messageProcessor

spring.cloud.stream:
  defaultBinder: kafka
  default.contentType: application/json
  bindings:
    messageProcessor-in-0:
      destination: products
      group: productsGroup

spring.cloud.stream.kafka:
  binder:
    brokers: 127.0.0.1
    defaultBrokerPort: 9092
  bindings:
    messageProcessor-in-0:
      consumer:
        enableDlq: true

# --- Monitoring ---
management.endpoint.health.show-details: "ALWAYS"
management.endpoints.web.exposure.include: "*"

---
# --- Docker Profile ---
spring.config.activate.on-profile: docker

# From: SERVER_PORT=8082
server.port: 8082

# From: EUREKA_CLIENT_...
eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true
    registryFetchIntervalSeconds: 5
    initialInstanceInfoReplicationIntervalSeconds: 5
  instance:
    preferIpAddress: true
    hostname: stream-consumer
    instanceId: stream-consumer:${random.value}
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 10
    metadataMap:
      startup: ${random.value}

# From: SPRING_KAFKA_...
spring:
  kafka:
    bootstrap-servers: kafka:9092
    consumer:
      bootstrap-servers: kafka:9092
      group-id: stream-consumer-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
      enable-auto-commit: true

  # Ensure Stream Binder uses the Docker host
  cloud:
    stream:
      kafka:
        binder:
          brokers: kafka:9092
          replication-factor: 1

# From: MANAGEMENT_...
management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus"
  endpoint:
    health:
      show-details: always
  health:
    eureka:
      enabled: true

# From: LOGGING_LEVEL_...
logging:
  level:
    com.netflix.eureka: DEBUG
    com.netflix.discovery: DEBUG