server.port: 7002
server.error.include-message: always

spring.application.name: stream-consumer

# --- Infrastructure Hosts (Localhost Defaults) ---
app.eureka-server: localhost

# --- Eureka Client Settings ---
eureka:
  client:
    serviceUrl:
      defaultZone: http://${app.eureka-server}:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

# --- Spring Cloud Function ---
spring.cloud.function.definition: messageProcessor

# --- Spring Cloud Stream & Kafka (Standard/Local Profile) ---
spring.cloud.stream:
  defaultBinder: kafka
  bindings:
    messageProcessor-in-0:
      destination: products
      group: productsGroup
      content-type: text/plain
  kafka:
    binder:
      brokers: 127.0.0.1:19092
      configuration:
        key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
        value.deserializer: org.apache.kafka.common.serialization.StringDeserializer
    bindings:
      messageProcessor-in-0:
        consumer:
          enableDlq: true

# --- Monitoring ---
management.endpoint.health.show-details: "ALWAYS"
management.endpoints.web.exposure.include: "*"

---
# --- Docker Profile ---
spring.config.activate.on-profile: docker

server.port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true
  instance:
    preferIpAddress: true
    hostname: stream-consumer
    instanceId: stream-consumer:${random.value}

spring:
  cloud:
    stream:
      bindings:
        messageProcessor-in-0:
          destination: products
          group: productsGroup
          content-type: text/plain
      kafka:
        binder:
          brokers: kafka:9092
          replication-factor: 1
          configuration:
            key.deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value.deserializer: org.apache.kafka.common.serialization.StringDeserializer

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus"
  endpoint:
    health:
      show-details: always
  health:
    eureka:
      enabled: true

logging:
  level:
    com.netflix.eureka: DEBUG
    com.netflix.discovery: DEBUG
    dev.dead.streamconsumer: DEBUG