server.port: 7002
server.error.include-message: always

spring.application.name: stream-producer

# --- Infrastructure Hosts (Localhost Defaults) ---
app.eureka-server: localhost

# --- Eureka Client Settings ---
eureka:
  client:
    serviceUrl:
      defaultZone: http://${app.eureka-server}:8761/eureka/
    initialInstanceInfoReplicationIntervalSeconds: 5
    registryFetchIntervalSeconds: 5
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 5

# --- Spring Cloud Stream & Kafka ---
spring.cloud.function.definition: messageProducer

spring.cloud.stream:
  poller.fixedDelay: 2500
  defaultBinder: kafka
  bindings:
    messageProducer-out-0:
      destination: products
      producer:
        useNativeEncoding: true
      content-type: text/plain

spring.cloud.stream.kafka:
  binder:
    brokers: 127.0.0.1
    defaultBrokerPort: 19092

# --- Monitoring ---
management.endpoint.health.show-details: "ALWAYS"
management.endpoints.web.exposure.include: "*"

---
# --- Docker Profile ---
spring.config.activate.on-profile: docker

# From: SERVER_PORT=8081
server.port: 8081

# From: EUREKA_CLIENT_... and EUREKA_INSTANCE_...
eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/
    registerWithEureka: true
    fetchRegistry: true
    registryFetchIntervalSeconds: 5
    initialInstanceInfoReplicationIntervalSeconds: 5
  instance:
    preferIpAddress: true
    hostname: stream-producer
    instanceId: stream-producer:${random.value}
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 10
    metadataMap:
      startup: ${random.value}

# From: SPRING_KAFKA_PRODUCER_...
spring:
  kafka:
    bootstrap-servers: kafka:9092
    producer:
      bootstrap-servers: kafka:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

  # Stream Binder overrides
  cloud:
    stream:
      bindings:
        messageProducer-out-0:
          destination: products
          producer:
            useNativeEncoding: true
          content-type: text/plain
      kafka:
        binder:
          brokers: kafka
          defaultBrokerPort: 9092
          replication-factor: 1
          configuration:
            key.serializer: org.apache.kafka.common.serialization.StringSerializer
            value.serializer: org.apache.kafka.common.serialization.StringSerializer

# From: MANAGEMENT_...
management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,prometheus"
  endpoint:
    health:
      show-details: always
  health:
    eureka:
      enabled: true

# From: LOGGING_LEVEL_...
logging:
  level:
    com.netflix.eureka: DEBUG
    com.netflix.discovery: DEBUG